body{
	




	background-color: black;
	background-image: url("http://m.rgbimg.com/cache1wbq6H/users/c/ca/carloszk/600/ov6d536.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#header{
	background-color: black;
	opacity: .7;
}
p{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
	margin: auto;
	font-size: 20px;
	color: #8B0000;
	border: black;
	border-width: 5px;
	opacity: 1;
	-webkit-text-stroke-width: .2px;
   	-webkit-text-stroke-color: #F8F8FF;
   	border-bottom: 4px solid #8B0000;
}
h1{

	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
	margin: auto;
	font-size: 150px;
	color: #8B0000;
	border: black;
	border-width: 10px;
	opacity: .9;
	-webkit-text-stroke-width: 5px;
   	-webkit-text-stroke-color: #F8F8FF;
   	border-bottom: 5px solid #8B0000;
}

#inputButton{
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#inputButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
#inputButton:active{
	position:relative;
	top:.5px;
}
label{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
	margin: auto;
	font-size: 69px;
	color: white;
	border: black;
	border-width: 10px;
	opacity: .9;
	-webkit-text-stroke-width: 2px;
   	-webkit-text-stroke-color: black;
   	border-bottom: 5px solid black;

}
#gif-form{
	transform: translate(8%, 10%);
	float: left;
	background-color: black;
	opacity: .7;
	margin: auto;
	position: absolute;
	
}
.topicButtons{
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.topicButtons:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.topicButtons:active{
	position:relative;
	top:.5px;
}

#gifMenu{
	position: absolute;
	top: 60%;
	padding-bottom: 20px;
	height: 200%;
	display: block;
	margin: 0 auto;
	background-color: black;
}
.item{

	position: relative;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	transform: translate(15%, 48%);
}